db.sqlite3
*.pyc
__pycache__/
.env
venv/
env/
media/
staticfiles/
.DS_Store
*.log
*.pot
*.py[cod]
*$py.class
dist/
build/
*.egg-info/
.eggs/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
migrations/
!**/migrations/__init__.py
*.mo
